<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Плютто Андрей
        ИУ6-32Б
        Вариант 21 (В ЭУ 17)
        Дан массив чисел. Определить среднее арифметическое значение
        положительных элементов массива и поместить его на место
        первого кратного 7 элемента
    </title>
    <style>
        /* Стилизация таблицы */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #007BFF;
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Результат выполнения:</h2>
        <%= @message.html_safe %>
    </div>
</body>

</html>